* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

.header {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid rgba(226, 211, 211, 0.692); 
}

.container-img-logo {
    min-height: 70px;
    display: flex;
    justify-content: center center;
    padding: 0 7%;
}

.img-logo {
    width: 130px;
    height: 75px;
    margin: 0;
}

.sign-in {
    margin: 0 5% 0 0;
    padding-bottom: 1%;
}

.sign-in > a {
    text-decoration: none;
    color: rgb(31, 31, 223);

    margin-top: 0;
}

.sign-in > p {
    margin-bottom: 4px;
}

/* Main > RRSS */

.container {
    margin: 5% 13%;
}

.title {
    font-family: 'Exo 2', sans-serif;
}

.signin-rrss {
    min-height: 40x;
    display: flex;
    position: row;
    justify-content: space-between center;
}

.google-container {
    background-color: #0000ffc4;
    min-height: 30px;
    width: 240px;
    display: flex;
    justify-content: space-between center;
    padding: 5px;
    border-radius: 7px;

}

.google-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 3% 4%;
}

.google-img {
    width: 35px;
    height: 35px;
}

.fb-container {
    background-color: #0000ffc4;
    min-height: 30px;
    width: 260px;
    display: flex;
    justify-content: space-between center;
    margin-left: 4%;
    padding: 5px;
    border-radius: 7px;

}

.fb-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 3% 4%;
}

.fb-img {
    width: 35px;
    height: 35px;
}

/* Main > email */

.option-email {
    font-size: 20px;
    margin: 4% 0;
}

.email-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.email-container > label {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.email-container > input {
    text-indent: 10px;
    height: 45px;
    width: 700px;
    font-size: 18px;
}

.pwd-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 40px;
}

.pwd-container > label {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.pwd-container > input {
    text-indent: 10px;
    height: 45px;
    width: 700px;
    font-size: 18px;
}

/* Terms of service */  

.terms {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.terms > input {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.terms > label {
    font-size: 19px;
}

.links {
    text-decoration: none;
    color: rgb(31, 31, 223);
}

/* Button */

.container-button {
    margin-top: 30px;
}

.container-button > input {
    font-size: 20px;
    color: rgba(182, 181, 181, 0.568);
    letter-spacing: 3px;
    padding: 15px 36px;
    background-color: transparent;
    border-style: dashed;
    border-color: rgba(182, 181, 181, 0.568);
    border-radius: 25px;
    cursor: pointer;
}

/* Footer */

.footer {
    display: flex;
    border-top: 3px solid rgba(226, 211, 211, 0.692); 
    align-items: center;
    font-size: 20px;
    padding: 10px 100px;
    color: rgb(170, 167, 167);
}

.footer p {
    margin-right: 85px; 
}

.footer ul {
    list-style-type: none;
    display: flex;
    
}

.footer li {
    margin-left: 40px;
}